<footer class="footer">
	<div class="container">
		<section class="contact">
			<h2>Contact</h2>
			<ul>
				<li><a title="{{ site.email }}" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
				<li><a title="Portfolio Website" href="https://portfolio.jwhite.network">Portfolio Website</a></li>
				<li><a title="Blog" href="https://blog.jwhite.network">Blog</a></li>
			</ul>

		</section>
		<section class="follow">
			<h2>Follow</h2>
			<ul>
				<li><a title="Linkedin" href="{{ site.linkedin }}" target="_blank">Linkedin</a></li>
				<li><a title="Twitter" href="{{ site.twitter_link }}" target="_blank">Twitter</a></li>
			</ul>
		</section>

		<section class="follow">
			<h2>Repositories</h2>
			<ul>
				<li><a title="Github" href="{{ site.github }}" target="_blank">GitHub</a></li>
				<li><a title="GitLab" href="{{site.gitlab}}" target="_blank">GitLab</a></li>
				<li><a title="Source Code" href="{{ site.gitlab }}/project-website" target="_blank">Source Repo</a></li>
			</ul>
		</section>		
	</div>
</footer>